<% include ./partials/header %> 

<h1> Error! </h1>
<div class ="ui segment inverted compact red"> 
<%= message %>. Please try again! 

</div>
<a href="/register" class ="ui inverted  blue button"> <i class="signup icon"></i> 
 Sign Up </a>
      <a href="/login" class ="ui inverted green button" > <i class="signup icon"></i> 
      Login </a>


<% include ./partials/footer %>