<% include ./partials/header %>
<h1> Login!</h1>

<div class="ui two column middle aligned very relaxed stackable grid">
  <div class="column">
    <div class="ui form">
        <form action = "/login" method ="POST">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username" name = "username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" name = "password">
          <i class="lock icon"></i>
        </div>
      </div>
      <button class="ui teal submit button">Login</button>
      </form>
    </div>
  </div>
  
  <div class="center aligned column">
    <div class="ui big green labeled icon button">
      <a href="/register" style ="color:white"> <i class="signup icon"></i>
      Sign Up
    </div>
  </div>
</div>

<% include ./partials/footer %>