body {
    background-color:black;
}

#landing-header {
  z-index: 1; /* coming forward toward us, will be greater than z-index < 1, have to change position from static */
  position: relative;
  text-align: center;
  padding-top: 40vh; /* 40 view height */ 
}

#landing-header h1 {
  color: #fff;
  font-family: 'Pacifico';
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* styling for each slide in slideshow */ 
.slideshow li { 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  
 /* fade for 50s throughout and loop infinitely */ 
  animation: imageAnimation 50s linear infinite; 
}

/*animation delay for each individual slide with an increment of 10 seconds to prevent overlap */ 
.slideshow li:nth-child(1) { 
  background-image: url(https://goo.gl/rdzKut);}
.slideshow li:nth-child(2) { 
  background-image: url(https://goo.gl/EJn5Ke);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://goo.gl/UowMq1);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://goo.gl/LHcpNX);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://goo.gl/tXLdKD);
  animation-delay: 40s; 
}
 
/*animation percentage is set up to 30% so the image will remain still for the rest of the animation duration*/ 
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
